.inlineBlock {
    display: inline;
}
.redColorText {
    color: red;
}
img {
    width: 100%;
}
.tomato {
    color: tomato;
}

.chocolate {
    color: chocolate;
}
.darkcyan {
    color: darkcyan;
}
